# Ignorar todo
*

# Permitir estas dos carpetas y todo su contenido (archivos y subdirectorios)
!test-network/
!test-network/**

!next-api-blockchain/
!next-api-blockchain/**

# No ignorar el propio .gitignore
!.gitignore
